.home-container {
  width: 100%;
  height: 650px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url(/src/images/Rectangle\ 1.png);
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  object-fit: cover;
}
.text-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.home-left {
  color: white;
  width: 300px;
  text-align: left;
}
.place-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cox {
  height: 400px;
  width: 200px;
  border-radius: 15px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url("../../images//Rectangle\ 1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  margin-top: 50px;
  margin-right: 15px;
  position: relative;
  border: 0.2px solid gainsboro;
}
.cox h5 {
  font-weight: 300;
  color: white;
  position: absolute;
  left: 20%;
  bottom: 10px;
}
.sreemongol {
  height: 400px;
  width: 200px;
  border-radius: 15px;
  background-image: url("../../images/Sreemongol.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  margin-top: 50px;
  margin-right: 15px;
  position: relative;
}
.sreemongol h5 {
  font-weight: 300;
  color: white;
  position: absolute;
  left: 20%;
  bottom: 10px;
}
.sundorban {
  height: 400px;
  width: 200px;
  border-radius: 15px;
  background-image: url("../../images/sundorbon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  margin-top: 50px;
  margin-right: 15px;
  position: relative;
}
.sundorban h5 {
  font-weight: 300;
  color: white;
  position: absolute;
  left: 20%;
  bottom: 10px;
}
.sejeck {
  height: 400px;
  width: 200px;
  border-radius: 15px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url("../../images/Sajek.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  margin-top: 50px;
  margin-right: 15px;
  position: relative;
}
.sejeck h5 {
  font-weight: 300;
  color: white;
  position: absolute;
  left: 30%;
  bottom: 10px;
}
/* .sondor {
  height: 400px;
  width: 200px;
  margin: 10px;
} */
.package-btn {
  border: none;
  padding: 10px 20px;
}
@media only screen and (max-width: 768px) {
  .home-container {
    height: auto;
  }
  .text-container {
    /* border: 1px solid brown; */
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .place-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
