.first-nav {
  border-bottom: 1px solid white;
  height: 58px;
}
.first-nav-left {
  display: flex;
  justify-content: space-around;
}
.phone {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 15px;
}
.phone-icon {
  font-size: 12px;
}
.number {
  margin-left: 15px;
}
.email {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.email-icon {
  font-size: 12px;
}
.gmail {
  margin-left: 15px;
}
.first-nav-right {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.facebook-icon {
  color: white;
  margin-right: 15px;
}
.twitter-icon {
  color: white;
  margin-right: 15px;
}
.signin-btn {
  margin-right: 15px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signin-text {
  /* margin-top: 9px; */
  text-decoration: none;
  color: brown;
}
#text {
  color: white;
  cursor: pointer;
}
.signin {
  margin-right: 8px;
  color: white;
}
.user-name {
  text-align: center;
  color: white;
  margin-top: 15px;
  margin-right: 15px;
}
.right-btn {
  margin-top: 10px;
}
.secound-nav {
  margin-left: 40px;
  margin-right: 40px;
  height: 55px;
}
.logo {
  /* width: 50px; */
  height: 50px;
  color: white;
  /* border: 1px solid white; */
}
.item-container {
  text-align: center;
  margin: auto;
  color: white;
}
.nav-items {
  color: white;
  text-decoration: none;
  margin-right: 25px;
  font-weight: 400;
  margin-top: 5px;
}
@media only screen and (max-width: 768px) {
  .logo {
    width: 200px;
    height: 40px;
  }
  #navbarScroll {
    background-color: white;
    height: 250px;
    padding: 15px;
    border: 1px solid brown;
    color: black;
  }
  .nav-items {
    color: black;
    background: white;
  }
}
