#logintext {
  width: 100%;
  height: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url(/src/images/Rectangle\ 1.png);
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  object-fit: cover;
}
.signup-from {
  width: 35%;

  margin: auto;
  margin-top: 40px;
}
.signup-from h4 {
  color: white;
}
.from {
  border: 1px solid white;
  text-align: left;
  color: white;
  padding: 20px;
  border-radius: 8px;
}
.register-btn {
  width: 100%;
  margin-bottom: 15px;
}
.other-register {
  margin-top: 20px;
}
